.tools {
  display: flex;
  flex-direction: column;
}

.tools-heading-container {
  background-color: orange;
  flex: 1;
}

.all-tools {
  background-color: aqua;
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 1% 7%;
}

.tools-heading {
}

.tools-row-1,
.tools-row-2 {
  display: flex;
  flex: 1;
  background-color: black;
}