.properties {
  color: #0064b6;
}

.property {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.prop-heading {
  flex: 3;
  align-items: center;
  padding-left: 10px;
  padding-top: 2px;
}

.prop-slider {
  flex: 7;
}


.slider {
  width: 80%;

}