.colors {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}


.colors-top {
  flex: 1;
  display: flex;
  align-items: center;
}

.color-editor-container {
  height: 40px;
  flex: 7;
  margin-right: 3%;
}

.color-editor,
.eye-dropper,
.colors-palette,
.recent-colors {
  height: 100%;
}

.eye-dropper-container {
  height: 40px;
  flex: 3;
  background-color: blue;
}

.color-palette-container {
  flex: 3;
}

.colors-palette {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-palette-colors,
.mid-palette-colors,
.bot-palette-colors {
  width: 100%;
  display: flex;
}

.recent-colors {
  flex: 1;
  flex-direction: column;
}

.palette {
  width: 100%;
  height: 40px;
}

.recent-colors-container {
  flex: 1;
  background-color: deeppink;
}